/virt
/AIBlog/AIBlog/settings.py
/AIBlog/db.sqlite3

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
settings.py

# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
AIBlog/AIBlog/settings.py
