{% extends 'base.html' %}
{% block content %}

{% if category_posts %}
<h1>{{ cats }}</h1>
{% for post in category_posts %}
<div class="post">
    <div class="post__header">
        <h2><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a></h2>
        <p>
            Author: <em>
                {{ post.author.first_name }} 
                {{ post.author.last_name}}  - 
                {{ post.post_date }}
            </em>
            {% if user.is_authenticated %}
            - 
            <small>
                <a href="{% url 'update_post' post.pk %}">Edit</a>
                <a href="{% url 'delete_post' post.pk %}">Delete</a>
            </small>
            {% endif %}
        </p>
        
    </div>
    
    
    <div class="post__body">{{ post.body|truncatewords:20|safe }}</div>
</div>
{% endfor %}
{% else %}
<p>Sorry this page does not exist...</p>
{% endif %}
{% endblock %}