{% extends 'base.html' %}
{% block content %}

<h1>Post</h1>

{% for post in object_list %}
<div class="post">
    <div class="post__header">
        <h2><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a></h2>
        <h4>
            Author: <em>{{ post.author.first_name }} {{ post.author.last_name}}</em>
        </h4>
        <small>
            <a href="{% url 'update_post' post.pk %}">Edit</a>
            <a href="{% url 'delete_post' post.pk %}">Delete</a>
        </small>
    </div>
    
    
    <div class="post__body">{{ post.body }}</div>
</div>
{% endfor %}

{% endblock %}